body {
        margin: 0;
        font-family: "Outfit", sans-serif; 
        font-weight: 400;
        font-size: .75rem;
        color: var(--stone600);
}

@media (min-width: 400px) {
        body {
                background-color: var(--stone100);
        }
}

:root {
        --stone100:  hsl(30, 54%, 90%);
        --stone150: hsl(30, 18%, 87%);
        --stone600: hsl(30, 10%, 34%);
        --stone900: hsl(24, 5%, 18%);
        --brown800: hsl(14, 45%, 36%);
        --rose800: hsl(332, 51%, 32%);
        --rose50: hsl(330, 100%, 98%);
}


/*    TYPOGRAPHY     */

.recipe-img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 10px;
}

h1 {
        font-family: "Young Serif", serif;
        font-weight: 400;
        color: var(--stone900)
}

h2 {
        font-family: "Young Serif", serif;
        font-weight: 400;
        color: var(--brown800);
}

.prep-time {
        color: var(--rose800);
        font-size: 1.15rem;
}

ol li::marker {
        color: var(--brown800);
        font-weight: 700;
}

.nutrition-table-head {
        font-weight: normal;
}

.nutrition-table-data {
        color: var(--brown800);
        font-weight: 700;
}


/*    LAYOUT     */

.container {
        background-color: #fff;
        padding: 1em 1.5em;
        margin: 0 auto;
        width: 100%;
}

@media (min-width: 450px) {
        .container {
                padding: 1.75em;
                margin: 5em auto;
                max-width: 650px;
                border-radius: 15px;
        }
        .img-container{
                width: 100%;
                margin: 0;
        }
}


.recipe-section {
        border-bottom: 2px solid var(--stone150);
        padding-bottom: .5em;
}

.recipe-section:last-child {
        border: none;
}

.recipe-section-prep {
        background-color: var(--rose50);
        border-radius: 10px;
        padding: .25em 1em;
        margin-top: 1.5em;
        overflow-wrap: anywhere;
}

ol, ul {
        padding-left: 1.5em;
}

li {
        padding-left: 1em;
        margin-bottom: .5em;
}

/* Nutrition Table Layout*/

.nutrition-table {
       width: 100%;
       border-collapse: collapse;
}

caption {
        text-align: left;
        margin-bottom: 1em;
}

tr {
        border-bottom: 2px solid var(--stone150);
        text-align: left;
}

tr:last-child {
        border-bottom: none;
}

.nutrition-table-head {
       padding: .5em 0 .5em 2em;
}
